body {
    font-family: 'Poppins', sans-serif;
}

h1 {
color: rgb(133, 131, 131);
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 30px;
}



h3{
    font-weight: 200;
    color: rgb(75, 75, 75);
}
p{
    font-weight: 400;
    color: rgb(75, 75, 75);
    margin-top: 5px;
}
.intro-part {
    display: flex;
    margin: 40px 100px 40px 150px;
}
.aboutus-part {
 display: flex;
 background-image: url(images/shapes/Frame\ 58.jpg);
 background-repeat: no-repeat;
 background-size: 2000px 850px;
 background-position: 5% 5%;
 margin: 40px 0px 40px 0px;
}

.food-name{
 font-weight: 700;
 font-size: 30px;
 margin: 5px 5px 5px 90px;
}

.foods {
 margin-top: 100px;
}
.food-paragraph {
    margin: 5px 30px 5px 30px;
}
#first-part {
    margin-top: 150px;
}

#second-part {
    margin-top: 250px;
}

#first-paragraph {
    margin-bottom: 40px;
    margin-right: 150px;
}

#second-paragraph {
    margin-bottom: 40px;
    margin-right: 200px
}

#food-intro {
    text-align: center;
    margin-top: 0px;
    margin-right: 500px;
    margin-left: 500px;
}

#pizza-paragraph {
    margin-bottom: 20px;
}

#some-part {
    text-align: center;
    margin-top: 100px;
}

#two-words {
    margin: 5px 150px 5px 150px;
}

#no-star {
    color: grey;
}

#footer-paragraph {
font-size: 16px;
padding-bottom: 200px;
}

.first-image{
    margin-top: 30px;
    height: 700px;
}
.second-image {
    margin-top: 156px;
    margin-left: 0;
    height: 693px;
}

.foods {
    display: flex;
    height: 5%;
    width: 35%;
    
}

.food-image {
    margin: 10px 10px 5px 10px;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.food-design {
    box-shadow: 10px 10px 40px #aaaaaa;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 15%;
}

.half-width {
    width: 50%;
}

.customer-heading {
 text-align: center;
}

.red-color{
    color: #db222c;
}
.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(#ED213A, #93291E);
    padding: 10px 40px 10px 40px;
    margin: 100px 5px 5px 0px;
    border-radius: 40px;
}

.review-part {
    display: flex;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.icon-picture {
 width: 500px;
 height: 300px;
 margin-top: 5px;
 margin-right: 10px;
 position: relative;
    top: 10px;
    left: -100px;
}

.material-icons {
    color: #db222c;
}

.review-design1 {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px #aaaaaa;
    border-radius: 20px;
    width: 40%;
    margin-left: 56%;
    margin-right: 1%;
    align-items: center;
}

.review-design2 {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px #aaaaaa;
    border-radius: 20px;
    width: 40%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;

}
.footer-part {
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: rgb(133, 131, 131);
    background-color: #0B0D17;
}